<template>
    <div>
        <c1 label="aaa" data=1></c1>
        <c1 label="bbb" data=2></c1>
        <c2 label="ccc" data=3></c2>
        <c2 label="ddd" data=4></c2>
    </div>
</template>

<script>
  import Vue from 'vue'
  import c from './app/Controller.js';
  import v1 from './app/ViewA.js';
  import v2 from './app/ViewB.js';

  Vue.component('c1', c(v1));
  Vue.component('c2', c(v2));
</script>

<style>
</style>
